registry=https://registry.npmmirror.com/
# registry=https://packages.aliyun.com/630cb049f9861067e4e7fefb/npm/npm-registry/
strict-peer-dependencies=false
; @szhz 域地址和登陆 token
# @szhz:registry=https://packages.aliyun.com/630cb049f9861067e4e7fefb/npm/npm-registry/
# //packages.aliyun.com/630cb049f9861067e4e7fefb/npm/npm-registry/:_authToken=1000d71e-1e41-4b41-af8c-cb572a1a108e


